.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
        color: hsl(228, 45%, 44%); 
}
body{
    text-align: center;
    background-color: hsl(214, 47%, 23%); 
}
.manage-background{
    background-color:hsl(237, 49%, 15%); /* add on when we click to see rules */

}
.main-box{
    width: 50%;
    margin:30px auto 0px;;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
}
.score-box{
    display: inline-block;
    background-color:white;
    padding: 0px 30px;
    position: relative;
    bottom: 7px;
border-radius: 10px;;
margin-right: 8px;
}
.house{
    background-color: tomato;
}
.logo-image{
    margin-right: 256px;
    margin-top: 4px;
    position: relative;
    top: 10px;
}
.score-heading{
    color: hsl(229, 64%, 46%);
    margin-bottom:0px;

}
#score-no,#house-no{
    font-size: 3rem;
    font-weight:5;
    margin-top: 0px;
    margin-bottom: 10px;
}
.choice{
    margin-top: 150px;  
}
.choice.hide{
    display: none;
}

.scissor , .rock, .paper,.pseudo{
    background-color:white;
    display: inline-block;
    width: 5%;
    padding: 20px 20px;
    position :relative;
    border-radius: 100%;
    cursor: pointer;
   
}

.scissor{
bottom:360px;
right: 20px;;
border:20px solid hsl(39, 89%, 49%); 
}
.rock{
bottom:140px;
border:20px solid hsl(349, 71%, 52%); 

}
.paper{
    bottom:360px;
    left: 20px;;
    border:20px solid  hsl(230, 89%, 62%) ; 

}
.rules{
    border: 2px solid hsl(217, 16%, 45%) ;
    width: 10%;
    margin-left: 1300px;
    position: absolute;
    right:50px;
    bottom:110px;
    color: white;
    cursor: help;
}
.rules:hover{
    border: 3px solid grey;
}
}
.rules-heading{
    margin-top: 10px;
    margin-bottom: 10px;

}
.rules-hide{
    width: 25%;
    padding-top: 10px;
    background-color: white;
    position :absolute;
    top: 200px;
    left: 575px;
    z-index:10;
    border-radius: 10px;;
    display:none;
}
.rules-hide.visible{
    display:block;
}


.close-image{
    position: relative;
    left: 313px;
    bottom: 309px;
    cursor: pointer;
}

/* step2 -section properties */
.step-2{
    margin-top: 130px;
    display: none;
}
.step-2.visible{
    display: block;
}
.head-1{
color: white;
margin-right:230px;
}
.head-2{
color:white;
margin-left:130px;
}
.position-1{
    position :relative;
    top:30px;
    margin-right:240px;
}
.position-2{
    position :relative;
    top:30px;
    margin-left:130px;
    
}
.pseudo{
    border:20px solid hsl(237, 49%, 15%) ;
    background-color:hsl(237, 49%, 15%) ;
    height: 51px;
    top: 0px;    
    z-index:5;
}
.result-box{
color: white;

position: relative;
    bottom: 140px;
    display: none;
}
.result-box.visible{
    display: inline-block;
}
.result{
font-size: 4rem;
font-weight: 700;
margin-bottom: 20px;
}

.next-turn{
    background-color: white;
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 70px;
    border-radius: 10px;
    cursor:pointer;
}
.next-turn:hover{
    border: 3px solid grey;
}
